.hidden{
    display: none;
}
.color-red{
    color: red;
}
.color-standart{
    color: rgba(0,0,0,.87);
}
.full-width{
    width: 100%;
}

.float-left{
    float: left;
}
.margin-right img{
    margin-right: 15px;
}
.navBar{
    margin-bottom: 50px;
}
.gallerySection{
    border: 1px solid black;
}
.galleryItem img{
    max-width: 270px;
}
.logo img{
    width: 100px;
}
.myGalleryItem{
    float: left;
}
.galleryItemImg, .ui.card>.image>img, .ui.cards>.card>.image>img{
    height: 200px;
}
.card{
    height: 90%;
    width: auto;
}
.ui.pagination.menu{
    margin-top: 30px;
}
.navBar{
    margin-top: 30px;
}
.iconColor{
    color: black;
}
.iconColor:hover{
    color: #1a8cff;
}
.iconsLink:hover::after {
    content: attr(data-title); /* Выводим текст */
    color: black;
    position: absolute; /* Абсолютное позиционирование */
    left: 40%; top: 87%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: #f8f8f9; /* Полупрозрачный цвет фона */
    border-radius: 4px;
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 12px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
}
.iconsLinkIndex:hover::after{
    content: attr(data-title); /* Выводим текст */
    color: black;
    position: absolute; /* Абсолютное позиционирование */
    left: 27%; top: 99%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: #f8f8f9; /* Полупрозрачный цвет фона */
    border-radius: 4px;
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 12px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
}
/*slider*/
body {
    margin: 0;
    padding: 0;
}

#block-for-slider {
    width: 99%;
    margin: 0 auto;
    margin-top: 10px;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 20px;
    height: 20px;

    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}

/**/